*{
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  background-color: #333333;
  color: #ffffff;
}
button{
  background-color: blue;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
}